.dashboard-container {
    padding: 20px;
    margin-right: 20px;
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .create-task-button {
    background-color: #1890ff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .create-task-button:hover {
    background-color: #0056b3;
  }
  
  .table{
    margin: 40px;
  }
  .centered-tabs .ant-tabs-nav {
    display: flex;
    justify-content: center;
  }
  
  .centered-tabs .ant-tabs-nav-wrap {
    justify-content: center;
  }
  
  .info{
    display: flex;
    justify-content: center;
    h3{
      color: green;
    }
  }

  .manager-form{
    width: 300px;
    margin-left: 40px;
    
  }

  .manager-select{
    width: 100%;
  }
  